In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [168]:
data0 = pd.read_csv("lop70.csv")
data1 = pd.read_csv("lop71.csv")
data2 = pd.read_csv("lop72.csv")
data3 = pd.read_csv("lop73.csv")

Xóa cột họ tên của data 0, chuẩn hóa tên cột

In [169]:
data0.drop(['Họ Tên'], axis = 1, inplace=True)

In [170]:
data0.columns = ['P1', 'P2', 'P3', 'Thi']

## Xử lý data1

In [171]:
data1

    ho_ten   10%   20%  20%.1   thi
0   71_011  6.50  6.50    6.0  6.50
1   71_012  5.50  5.50    6.0  5.00
2   71_013  6.50  7.00    7.0  6.75
3   71_014  7.25  5.50    7.0  6.00
4   71_021  7.50  5.00    6.0  6.00
..     ...   ...   ...    ...   ...
71  71_146  7.00  6.75    7.5  6.50
72  71_151  7.50  7.00    8.0  9.00
73  71_152  7.00  6.50    6.5  6.50
74  71_153  7.00  7.00    7.5  7.50
75  71_154  7.00  7.00    7.0   NaN

[76 rows x 5 columns]

In [172]:
data1.drop(['ho_ten'], axis = 1, inplace=True)
data1.columns = ['P1', 'P2', 'P3', 'Thi']

P1     float64
P2     float64
P3     float64
Thi    float64
dtype: object

In [173]:
data2

    ho_ten    10%    20%  20%.1   thi
0   72_011  6.000  6.500   7.00  6.75
1   72_012  6.500  7.250   7.75  7.50
2   72_013  5.750  6.750   7.25  7.00
3   72_014  6.750  7.000   7.50  7.25
4   72_015  6.000  6.500   7.00  6.75
..     ...    ...    ...    ...   ...
72  72_151  7.375  6.500   7.50  7.00
73  72_152  7.250  6.750   7.00  7.00
74  72_153  7.125  6.750   6.75  7.00
75  72_154  7.750  6.375   7.50  7.00
76  72_155  7.875  6.125   6.75  7.00

[77 rows x 5 columns]

In [174]:
data2.drop(['ho_ten'], axis = 1, inplace=True)
data2.columns = ['P1', 'P2', 'P3', 'Thi']
data2

       P1     P2    P3   Thi
0   6.000  6.500  7.00  6.75
1   6.500  7.250  7.75  7.50
2   5.750  6.750  7.25  7.00
3   6.750  7.000  7.50  7.25
4   6.000  6.500  7.00  6.75
..    ...    ...   ...   ...
72  7.375  6.500  7.50  7.00
73  7.250  6.750  7.00  7.00
74  7.125  6.750  6.75  7.00
75  7.750  6.375  7.50  7.00
76  7.875  6.125  6.75  7.00

[77 rows x 4 columns]

In [175]:
print(data3.columns)

Index(['Unnamed: 0', '10%', '20%', 'BT bo sung', '20%.1', 'Thi'], dtype='object')

In [201]:
data3.dtypes

P1     float64
P2     float64
P3     float64
Thi    float64
dtype: object

In [181]:
# data3.drop(['Unnamed: 0'], axis = 1, inplace=True)
# data3.insert(2,'P3',(data3['BT bo sung']+ data3['20%.1'])/2)
data3.drop(['BT bo sung', '20%.1'], axis=1, inplace=True)
data3

     10%     P3   20%   Thi
0   7.25  6.250  6.50  6.75
1   7.00  6.250  7.50  7.00
2   7.00  6.250  7.25  7.00
3   6.50  6.125  7.00  6.50
4   7.50  6.000  7.00  7.25
..   ...    ...   ...   ...
64  5.50  6.750  6.75  6.50
65  7.00  6.250  7.00  6.00
66  4.00  6.250  7.00  6.00
67  7.50  8.000  7.00  7.00
68  3.50  5.500  3.00  5.00

[69 rows x 4 columns]

In [182]:
data3.columns=['P1', 'P2', 'P3', 'Thi']
data3

      P1     P2    P3   Thi
0   7.25  6.250  6.50  6.75
1   7.00  6.250  7.50  7.00
2   7.00  6.250  7.25  7.00
3   6.50  6.125  7.00  6.50
4   7.50  6.000  7.00  7.25
..   ...    ...   ...   ...
64  5.50  6.750  6.75  6.50
65  7.00  6.250  7.00  6.00
66  4.00  6.250  7.00  6.00
67  7.50  8.000  7.00  7.00
68  3.50  5.500  3.00  5.00

[69 rows x 4 columns]

In [193]:
data3.dtypes

P1     float64
P2     float64
P3     float64
Thi    float64
dtype: object

In [194]:
data = pd.concat([data0, data1, data2, data3], axis=0)
data = data.reset_index(drop=True)
data

        P1    P2    P3   Thi
0    8.375  7.25  8.50   9.0
1    8.250  7.25  8.50   9.0
2    8.500  7.50  8.50  10.0
3    4.000  7.25  8.50   9.0
4    8.750  7.50  8.50   9.5
..     ...   ...   ...   ...
292  5.500  6.75  6.75   6.5
293  7.000  6.25  7.00   6.0
294  4.000  6.25  7.00   6.0
295  7.500  8.00  7.00   7.0
296  3.500  5.50  3.00   5.0

[297 rows x 4 columns]

In [202]:
data.isnull().sum()

P1     0
P2     0
P3     0
Thi    0
dtype: int64

In [196]:
data = data[(data.P1!=np.nan) & (data.P2!=np.nan) & (data.P3!=np.nan) & (data.Thi!=np.nan)]
data.dtypes

P1     float64
P2     float64
P3     float64
Thi    float64
dtype: object

In [203]:
data.dtypes

P1     float64
P2     float64
P3     float64
Thi    float64
dtype: object

In [204]:
data.duplicated(keep=False)

0      False
1      False
2      False
3      False
4      False
       ...
292    False
293    False
294    False
295    False
296    False
Length: 297, dtype: bool

In [205]:
data.drop_duplicates(keep='first')
data

        P1    P2    P3   Thi
0    8.375  7.25  8.50   9.0
1    8.250  7.25  8.50   9.0
2    8.500  7.50  8.50  10.0
3    4.000  7.25  8.50   9.0
4    8.750  7.50  8.50   9.5
..     ...   ...   ...   ...
292  5.500  6.75  6.75   6.5
293  7.000  6.25  7.00   6.0
294  4.000  6.25  7.00   6.0
295  7.500  8.00  7.00   7.0
296  3.500  5.50  3.00   5.0

[297 rows x 4 columns]

In [198]:
data.fillna(data.mean(numeric_only=True), inplace = True) # replace NaN with the mean
data.isnull().sum()

P1     0
P2     0
P3     0
Thi    0
dtype: int64

In [207]:
data.to_csv('diem-after-cleaning.csv')

In [208]:
print(data.dtypes)

P1     float64
P2     float64
P3     float64
Thi    float64
dtype: object

In [106]:
data = pd.read_csv('diem-after-cleaning.csv')

# Sử dụng machine learning cơ bản

In [240]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [210]:
X = data[['P1','P2','P3']].values
y = data[['Thi']].values

In [216]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [219]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [224]:
y_pred = model.predict(X_test)

In [226]:
print(y_test[0:5])

[[7.5]
 [6. ]
 [8. ]
 [7. ]
 [7.5]]

In [228]:
print(y_pred[0:5])

[[7.97527504]
 [6.81273313]
 [7.72125224]
 [7.16866632]
 [7.96604685]]

In [231]:
model.score(X_test, y_test)

0.7412780632419204

In [232]:
model.score(X_train, y_train)

0.8292973296131452

In [242]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print("ty le tap test")
print(model.score(X_test, y_test))
print("ty le tap train")
print(model.score(X_train, y_train))
print("mse: "+str(mean_squared_error(y_test, y_pred))) #cang thap cang tot
print("r2: "+str(r2_score(y_test, y_pred))) #cang cao cang tot

ty le tap test
0.7914129563816222
ty le tap train
0.8259944681413645
mse: 0.5050977107385175
r2: 0.7914129563816222

In [243]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print("ty le tap test")
print(model.score(X_test, y_test))
print("ty le tap train")
print(model.score(X_train, y_train))
print("mse: "+str(mean_squared_error(y_test, y_pred))) #cang thap cang tot
print("r2: "+str(r2_score(y_test, y_pred))) #cang cao cang tot

ty le tap test
0.7973830001089237
ty le tap train
0.8170891832085391
mse: 0.416997042275829
r2: 0.7973830001089237

In [244]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.24)
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print("ty le tap test")
print(model.score(X_test, y_test))
print("ty le tap train")
print(model.score(X_train, y_train))
print("mse: "+str(mean_squared_error(y_test, y_pred))) #cang thap cang tot
print("r2: "+str(r2_score(y_test, y_pred))) #cang cao cang tot

ty le tap test
0.8712296093391283
ty le tap train
0.7898768199608643
mse: 0.34801745252211186
r2: 0.8712296093391283